body {

    background-color: lightslategrey;
}



.btn1{
    background-color: dimgrey;
    color: white;
    width: 150px;
    height: 80px;
    border: 2px solid darkslategrey;
    font-size: 20px;
}

#iniciar {
    text-align:center;

}

.nj {
    font-size:25px;
    font-family: Algerian;
}

#ip {
    margin-bottom: 5px;

}


div#mensagem p {
    font-family: Courier;
    color:#40E0D0;
    text-align: center;
}