body {

    background-color: lightslategrey;
}



.btn1{
    background-color: dimgrey;
    color: white;
    width: 150px;
    height: 80px;
    border: 2px solid darkslategrey;
    font-size: 100%;
    margin-left:10%;
    margin-top: 1%;
}

#iniciar {
    text-align:center;

}

.form-group {
    font-size:25px;
    font-family: Algerian;
}



div#mensagem p {
    font-family: Courier;
    color:#40E0D0;
    text-align: center;
}

#nome {
    max-width: 25%;
    min-width: 200px;

}

.container {
    text-align: center;
}

.container img {
    max-width: 70%;
    min-width:70%;
}
.container p {
    font-size: 14px;
}

#nome{
    margin-bottom: 1%;
}

div#select {
    max width 30%
}

.form-control{
    display:inline;
}

.form-group{
    margin-right: 7%;
}

/* ---------------------------------Jquery------------------------------------------*/

#nomebuscar {


}


#difibuscar{


}


#catbuscar{


}





